#tetrisGame {
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in;
    /* display: flex; */
    display: none;
}

.tetris__box {
    /* width: 37%; */
    min-width: 464px;
    overflow: hidden;
    /* background: url(https://i.pinimg.com/originals/85/be/94/85be94350b6cefd78140c8c8232c75e5.gif); */
    background: url(https://i.pinimg.com/originals/3f/9f/4c/3f9f4c9276f7a75e33c67001d7c997d2.gif);
    /* background: url(https://i.pinimg.com/originals/e0/75/fc/e075fc6aa746106efcdf892a6cc15ea3.gif); */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid rgba(208, 233, 252, 0.9);
    margin: 0 auto;
    position: relative;
}
.tetris__box::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background: url(https://mblogthumb-phinf.pstatic.net/MjAxOTA4MDdfMTEw/MDAxNTY1MTg1MDk1OTUz.3fjmL-ODlTYUGNz88uVmGvwLT7JXWB4ZJtweP7L8gdcg.R4z5A8mfmCfsqGKS9pwYFjp-MB_llcSNzZdRLnlG48Mg.GIF.studygir/aqqius_%283%29.gif?type=w2); */
    background: url(https://i.pinimg.com/originals/4d/a4/86/4da486537d1bf2734f755fcd1d8ff2e3.gif);
    /* background: url(https://i.pinimg.com/originals/6e/f1/1b/6ef11bc494a9d828544432414a305409.gif); */
    /* background: url(https://i.pinimg.com/originals/ca/2c/b6/ca2cb65c5e194793ea50ee3fc21328ed.gif); */
    background: url(https://i.pinimg.com/originals/85/be/94/85be94350b6cefd78140c8c8232c75e5.gif);
    opacity: 0.7;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.tetris__black1,
.tetris__black2 {
    position: absolute;
    top: 0;
    background: #000;
    width: 50%;
    height: 100%;
    z-index: 1;
}
.tetris__black1 {
    left: 0%;
}
.tetris__black2 {
    right: 0%;
}
.tetris__black1.active {
    animation: cutton1 2.2s forwards;
}
.tetris__black2.active {
    animation: cutton2 2.2s forwards;
}
.tetris__black1.end {
    animation: cutton3 2.2s forwards;
}
.tetris__black2.end {
    animation: cutton4 2.2s forwards;
}
@keyframes cutton1 {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}
@keyframes cutton2 {
    0% {
        right: 0%;
    }
    100% {
        right: -100%;
    }
}
@keyframes cutton3 {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}
@keyframes cutton4 {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

.tetris__inner {
    width: 100%;
    /* height: calc(100vh - 120px); */
    height: 740px;
    /* border: 2px solid #e27e40cc; */
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    animation: flicker 3.5s infinite alternate;
    /* background: url(https://i.pinimg.com/originals/4f/a5/87/4fa587d0e673c3d237ee7821bf3056fb.gif); */
    /* background: url(https://img.freepik.com/free-vector/arcade-game-world-and-pixel-scene_24640-45884.jpg?w=996&t=st=1667497458~exp=1667498058~hmac=d9146b3ed747f42b7b6bcf2820e0756aeef31b8b64ff08f67483b7a516f1ba14); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        box-shadow: 0 0 10px rgba(33, 156, 243, 0.5), 0 0 20px rgba(33, 156, 243, 0.5), 0 0 30px rgba(33, 156, 243, 0.5);
    }
}

.tetris__start {
}
.tetris__restart {
}
.tetris__play {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* padding-top: 100px; */
    position: relative;
}
.tetris__count__combo {
    font-family: "CrownMychew";
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 50px;
    color: snow;
    z-index: 200;
    text-shadow: 0px 0px 20px #ff7900;
    text-shadow: -5px 0px #5f7eac, 0px 5px #5f7eac, 5px 0px #5f7eac, 0px -5px #5f7eac;
}
.playground {
    border: 30px solid #011937;
    border-top: 70px solid #011937;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
}
.playground li {
    list-style: none;
}
.playground > ul {
    background: rgba(0, 0, 0, 0.4);
}

.playground > ul > li {
    width: 100%;
    height: 40px;
}
.playground > ul > li > ul {
    display: flex;
}
.playground > ul > li > ul > li {
    width: 40px;
    height: 40px;
    border: 1px solid #455468;
}

.Tmino {
    background-color: #952d98;
    border: 9px outset #a042a2 !important;
    box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.4);
}
.Lmino {
    border: 9px outset #ff861a !important;
    box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.4);
    background-color: #ff7900;
}
.Jmino {
    border: 9px outset #1a74c4 !important;
    box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.4);
    background-color: #0065bd;
}
.Zmino {
    border: 9px outset #ef3e4d !important;
    box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.4);
    background-color: #ed2939;
}
.Smino {
    border: 9px outset #78c53e !important;
    box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.4);
    background-color: #69be28;
}
.Omino {
    border: 9px outset #fed01a !important;
    box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.4);
    background-color: #fecb00;
}
.Imino {
    border: 9px outset #1aa9de !important;
    box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.4);
    background-color: #009fda;
}

/* desc */

.tetris__desc {
    width: 35%;
    height: calc(100vh - 120px);
    border-radius: 20px;
    animation: flicker 3.5s infinite alternate;
    border: 2px solid rgba(208, 233, 252, 0.9);
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    box-sizing: border-box;
    color: snow;
}
.tetris__desc .tetris__header {
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 15px;
    line-height: 1.2;
    align-items: center;
    border-bottom: 2px solid rgba(208, 233, 252, 0.9);
}
.tetris__desc .tetris__header > div {
    /* text-shadow: 0px 0px 2px rgb(235, 148, 49); */
    color: snow;
}
.tetris__desc .tetris__header > .tetris__audio {
    display: flex;
    align-items: center;
}
.tetris__desc .tetris__header > .tetris__audio .play {
    margin-left: 5px;
    display: none;
    transform: translateY(3px);
}
.tetris__desc .tetris__header > .tetris__audio .stop {
    margin-left: 5px;
    display: none;
    transform: translateY(3px);
}
.tetris__desc .tetris__header h3 {
    font-size: 40px;
    color: snow;
    text-shadow: 0px 0px 7px rgba(208, 233, 252, 0.9);
}

.tetris__desc .tetris__header .tetris__close {
    cursor: pointer;
    border: 1px solid rgba(208, 233, 252, 0.9);
    border-radius: 50%;
    padding: 4px 10px;
}
.tetris__desc .tetris__header .tetris__close:hover {
    color: rgba(208, 233, 252, 0.9);
    transform: scale(1.2);
    border-color: rgba(208, 233, 252, 0.9);
    transition: all 0.3s;
}
.tetris__desc .tetris__info {
    background: #111;
    height: 30%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 15px rgba(208, 233, 252, 0.9);
}
.tetris__desc .tetris__info p {
    text-align: center;
    padding: 40px 20px;
    color: #f5f5f5;
}
.tetris__desc .tetris__info p em {
    color: snow;
    text-shadow: 0px 0px 3px rgba(208, 233, 252, 0.9);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 2;
}
.tetris__desc .tetris__result {
    display: flex;
    flex-wrap: wrap;
    background: #111;
    box-sizing: border-box;
    height: 40%;
    max-height: 40%;
    align-items: flex-start;
    padding: 20px;
    justify-content: space-evenly;
}

.tetris__desc .tetris__result .tetris__count {
    width: 100%;
    display: flex;
    margin-top: 15px;
    line-height: 1;
    box-sizing: border-box;
    padding: 6px 5px 0px 5px;
}
.tetris__desc .tetris__result .tetris__count > div:first-child {
    width: 50%;
    box-sizing: border-box;
    padding-left: 15px;
}
.tetris__desc .tetris__result .tetris__count > div:last-child {
    width: 50%;
    box-sizing: border-box;
    padding-left: 20px;
}
.tetris__desc .tetris__result .tetris__count .tetris__count__num {
    font-family: "CrownMychew";
    font-size: 80px;
    text-shadow: 0px 0px 6px pink;
    color: snow;
}
.tetris__LV {
    font-size: 40px;
    margin: 0 auto;
}
.tetris__desc .tetris__btn__box {
    background: #111;
    border-bottom: 2px solid rgba(208, 233, 252, 0.9);
    box-shadow: inset 0px 0px 15px rgba(208, 233, 252, 0.9);
    box-sizing: border-box;
    height: 22%;
    display: flex;
    align-items: center;
}
.tetris__box .tetris__start {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: snow;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.tetris__count__next li {
    list-style: none;
}
.tetris__count__next > ul {
    background: rgba(0, 0, 0, 0.4);
}

.tetris__count__next > ul > li {
    width: 100%;
    height: 40px;
}
.tetris__count__next > ul > li > ul {
    display: flex;
}
.tetris__count__next > ul > li > ul > li {
    width: 40px;
    height: 40px;
    border: 1px solid #455468;
}
